body, html {
  margin: 0;
  padding: 0;
}

.dragme {
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 100;
}

#progressbar {
  display: block;
  position: absolute;
  z-index: 500;
  width: 840px;
  top: 1060px;
  left: 150px;
}

#progressbar .ui-widget-header {
  background: url('images/scroll-back.png');
}

#progressbar.ui-widget-content {
  background: url('images/scroll-empty.png');
  border: 0;
  height: 40px;
}

#video {
  z-index: 500;
  position: absolute;
  top: 220px;
  left: 170px;
  background: black;
}
#snap {
  position: absolute;
  z-index: 100;
  left: 816px;
  top: 972px;
  width: 327px;
  height: 228px;
  cursor: pointer;
}
#snap-taken {
  display: none;
  z-index: 501;
  position: absolute;
  top: 220px;
  left: 170px; /*480px;*/
  width: 1250px;
  padding-left: 310px;
  background: black;
}
.apple {
  background-image: url('images/apple2.png');
  background-size: 150px 150px;
  left: 1200px;
  top: 500px;

}

.brocoli {
  background-image: url('images/brocoli-drop.png');
  background-size: 129px 143px;
  left: 1220px;
  top: 214px;
  width: 129px;
  height: 143px;
}

.tomato {
  background-image: url('images/tomato-drop.png');
  background-size: 140px 141px;
  left: 1228px;
  top: 500px;
  width: 140px;
  height: 141px;
}

.chicken {
  background-image: url('images/chicken-drop.png');
  background-size: 213px 167px;
  left: 1520px;
  top: 214px;
  width: 213px;
  height: 167px;
}

.cheese {
  background-image: url('images/cheese-drop.png');
  background-size: 218px 140px;
  left: 1510;
  top: 502px;
  width: 218px;
  height: 140px;
}



div#body {
  width: 1920px;
  height: 1200px;
}

#header {
    text-align: center;
    margin-bottom: 2em;
}

#header #back-btn {
    float: left;
}

#recipe2 {
    background-color: #d5cabf;
    width: 1920px;
}
#content {

}

#plate {
    background: url('images/plate.png') no-repeat;
    width: 1018px;
    height: 854px;
    float: left;
    margin: 0 3em;
}

#rightcol {
    float: left;
    margin-left: 3em;
}

.scrollable {
    height: 854px;
    overflow-y: scroll;
}

.ingredient img {
    float: left;
    margin: 0.5em 0 0 3em;
}
.ing-bg {
    background: url('images/ing-bg.png') no-repeat;
    width: 268px;
    height: 268px;
    float: left;
}

